<!DOCTYPE html>
<html>
  <head>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <style>
        #searchdiv {
            position: absolute;
            top: 6px;
            left: 45px;
        }
        #searchbox {
            
            width: 270px;
            height: 30px;
            font-size: 22px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
        }
        #map_canvas {
          display: block;
          position: absolute;
          top: 0px;
          width: 99%;
          bottom: 0px;
        }
    </style>
    <script>
        //setting up the google map
        var map;
        var currentmarkers = [];
        
        function initialize() {
            var mapCanvas = document.getElementById('map_canvas');
            var mapOptions = {
                center: new google.maps.LatLng(0, 0),
                zoom: 3,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                zoomControl: false,
                panControl: false,
            }
            map = new google.maps.Map(mapCanvas, mapOptions)
        }
        google.maps.event.addDomListener(window, 'load', initialize);

//an example on how to iterate through the json daa loading it in to html
//var json = {'wikipedia': {'article': {'relevant_links': [{'url':'url1...'}, {'url': 'url2...'}]}}};

//$('#contents').append('<ul>');
//for (link in json['wikipedia'][article][relevant_links]) {
//    $('#contents').append('<li>' + link[url] + '</li>');
//}
    
    </script>
  </head>
  <body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <div id="map_canvas"></div>
    <div id="searchdiv">
        <input type="text" value="test" placeholder="Search" id="search-query"></input>
        <button type="button" id="search-button">Go</button>
    </div>
    <div id='contents'></div>
    <script>
        //some super-useful helper functions
        function addmarker(id, lat, long, otherdata, colour){
            var m = new google.maps.Marker({position: new google.maps.LatLng(lat, long)});
            m.id = id; //this is a total hax because javascript is interpreted, but it works.
            m.otherdata = otherdata;
            m.selected = false; //this determines whether the marker is the currently selected one we are displaying information about.

            currentmarkers.push(m);
            m.setMap(map);
        }

        //takes a list of json objects and adds map markers for each one of them
        function addMarkersFromData(data){
            function getColour(maxrel, minrel, thisrel){
                
            }

            //finding the highest and lowest relevances in the markers so we know which colour to make the markers
            var maxrel = 0;
            var minrel = 1;            
            for(var n in data){
                var rel = Number(data[n]['_score']);
                if(rel<minrel){
                    minrel = rel;
                }
                if(rel>maxrel){
                    maxrel = rel;                
                }
            }

            function getColour(thisrel){
                
            }
            
            for(var n in data){ //m is a json object with the data about the marker
                m = data[n];
                addmarker(m['_id'], Number(m['coordinates']['latitude']), Number(m['coordinates']['longitude']), m);            
            }
        }

        //removes all of the old markers from the map
        function removeOldMarkers(){
            console.log("currentmarkers: " + currentmarkers);
            for(var i = 0; i < currentmarkers.length; i++){
                 currentmarkers[i].setMap(null);           
            }
            currentmarkers = [];
        }

        //All callback functions for get requests
        function SearchGetCallback(data){
            data = jQuery.parseJSON(data)
            console.log("The data is:\n"+data);

            //filtering out results with no coordinates
            var newdata = [];
            for(var i = 0; i<data.length; i++){
                if(data[i]['coordinates']['latitude']!=""){ //if the latitude coordinate is not empty, add it to the new data
                    newdata.push(data[i]);
                }            
            }
            addMarkersFromData(newdata);      
        }

        
        function infoRequestCallback(data){
                data = jQuery.parseJSON(data);
                //getting the ID for the marker so we can update the otherdata field the marker has
                var id = data['_id'];
                //finding the marker the info was for in the database and updating 
                for(var i = 0; i<currentmarkers.length; i++){
                    if (currentmarkers[i]['_id'] == id){
                        currentmarker[i].otherdata = data;
                        
                        //checking if the current marker is selected. if it is, calling the function to display its data in a pane
                        if(currentmarkers[i].selected){
                            openDisplayPane(currentmarkers[i]['_id']);                        
                        }
                    }
                }
        }
        
        function constructJsonForInfoRequest(idslist, fieldslist){
            var j = {'ids':idslist, 'fields':fieldslist};
            console.log(j);
            return j;
        }

        function requestInfo(ids, fields){
            $.ajax({
              type: "POST",
              url: 'api/info/',
              data: JSON.stringify(constructJsonForInfoRequest(ids, fields)),
              success: infoRequestCallback,
              dataType: "application/json"
            });
            
        }

        function makeSearchGetRequest(querystring){
            var pageaddress = "/api/query/?q=" + querystring.replace(" ", "+");
            console.log("requesting:", pageaddress)
            //using jquery for a get request
            $.get(
                pageaddress,
                {},//empty parameters
                SearchGetCallback                    
            );      
        }


        
        function searchfunction(){
            var querystring = $("#search-query").val();
            console.log("query string:"+querystring);
            //if we do not have a special character, remove the old markers
            if (!(querystring[0]=="¬")){ 
                removeOldMarkers();
            }else{
                querystring.substring(1);
            }
            
            makeSearchGetRequest(querystring);
        }

        $(document).ready(function() {
            //the event listeners for the search elements
            $('#search-button').on('click', function() {
                searchfunction();
                
            });

            $(document).on('keydown', function(e) {
                if (e.keyCode === 13) {
                    searchfunction();
                }

            });

        //the event listeners for clicking map items
        
        });
</script>
  </body>
</html>
