<!DOCTYPE html>
<html>
  <head>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <style>
        #searchdiv {
            position: absolute;
            top: 6px;
            left: 45px;
        }
        #searchbox {
            
            width: 270px;
            height: 30px;
            font-size: 22px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
        }
        #map_canvas {
          display: block;
          position: absolute;
          top: 0px;
          width: 99%;
          bottom: 0px;
        }
    </style>
    <script>
        //setting up the google map
        var map;
        var currentmarkers = [];
        
        function initialize() {
            var mapCanvas = document.getElementById('map_canvas');
            var mapOptions = {
                center: new google.maps.LatLng(0, 0),
                zoom: 3,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                zoomControl: false,
                panControl: false,
            }
            map = new google.maps.Map(mapCanvas, mapOptions)
        }
        google.maps.event.addDomListener(window, 'load', initialize);

//an example on how to iterate through the json daa loading it in to html
//var json = {'wikipedia': {'article': {'relevant_links': [{'url':'url1...'}, {'url': 'url2...'}]}}};

//$('#contents').append('<ul>');
//for (link in json['wikipedia'][article][relevant_links]) {
//    $('#contents').append('<li>' + link[url] + '</li>');
//}
    
    </script>
  </head>
  <body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <div id="map_canvas"></div>
    <div id="searchdiv">
        <input type="text" value="test" placeholder="Search" id="search-query"></input>
        <button type="button" id="search-button">Go</button>
    </div>
    <div id='contents'></div>
    <script>
        //some super-useful helper functions
        function addmarker(id, lat, long, otherdata){
            var m = new google.maps.Marker({position: new google.maps.LatLng(lat, long)});
            m.id = id; //this is a total hax because javascript is interpreted, but it works.
            m.otherdata = otherdata;

            currentmarkers.push(m);
            m.setMap(map);
        }

        //takes a list of json objects and adds map markers for each one of them
        function addMarkersFromData(data){
            
            for(var n in data){ //m is a json object with the data about the marker
                m = data[n];
                console.log("m has id:"+m['_id']);
                addmarker(m['_id'], Number(m['coordinates']['latitude']), Number(m['coordinates']['longitude']), m);            
            }
        }

        //All callback functions for get requests
        function SearchGetCallback(data){
            data = jQuery.parseJSON(data)
            console.log("The data is:\n"+data);
            addMarkersFromData(data);      
        }

        
        function infoRequestCallback(data){
                
        }
        
        function constructJsonForInfoRequest(idslist, fieldslist){
            var j = {'ids':idslist, 'fields':fieldslist};
            console.log(j);
            return j;
        }

        function requestInfo(ids, fields){
            $.ajax({
              type: "POST",
              url: 'api/info/',
              data: JSON.stringify(constructJsonForInfoRequest(ids, fields)),
              success: infoRequestCallback,
              dataType: "application/json"
            });
            
        }

        function makeSearchGetRequest(querystring){
            var pageaddress = "/api/query/?q=" + querystring.replace(" ", "+");
            console.log("requesting:", pageaddress)
            //using jquery for a get request
            $.get(
                pageaddress,
                {},//empty parameters
                SearchGetCallback                    
            );      
        }

        //removes all of the old markers from the map
        function removeOldMarkers(){
            console.log("currentmarkers: " + currentmarkers);
            for(var i = 0; i < currentmarkers.length; i++){
                 currentmarkers[i].setMap(null);           
            }
            currentmarkers = [];
            alert("REMOVE OLD MARKERS!");
        }
        
        function searchfunction(){
            var querystring = $("#search-query").val();
            console.log("query string:"+querystring);
            //if we do not have a special character, remove the old markers
            if (!(querystring[0]=="¬")){ 
                removeOldMarkers();
            }else{
                querystring.substring(1);
            }
            
            makeSearchGetRequest(querystring);
        }

        $(document).ready(function() {
            //the event listeners for the search elements
            $('#search-button').on('click', function() {
                searchfunction();
                
            });

            $(document).on('keydown', function(e) {
                if (e.keyCode === 13) {
                    searchfunction();
                }

            });

        //the event listeners for clicking map items
        
        });
</script>
  </body>
</html>
